<div class="jumbotron">
    <h1>WEB API - Queue Azure</h1>
    </br>
    <p>Para retirar um mensagem da fila 2 digite na URL http://endereco/api/values </p>
    <p>Para inserir uma mensagem na fila 1 digite na URL http://endereco/api/values/{mensagem} </p>
</div>
<div>
    <h2> First WebAPI - Cloud Computing </h2>
</div>